[flake8]
max-line-length = 80
select = C,E,F,W,B,B950
extend-ignore =
    E203,              # whitespace before ':' (conflicts with black)
    E501,              # line too long (B950 is better)
    W503               # line break occurred before a binary operator (defunct)
